<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lewo.zmail.manage.dao.ProductInfoMapper">
    <select id="getCheckedSaleAttr" resultMap="getCheckedSaleAttrMap">
        SELECT sa.id as sa_id,sav.id as sav_id,sa.*,sav.*,IF(ssav.sku_id,1,0) isChecked
        FROM pms_product_sale_attr sa
        LEFT JOIN pms_product_sale_attr_value sav
        ON sa.product_id = sav.product_id
        AND sa.sale_attr_id = sav.sale_attr_id
        LEFT JOIN pms_sku_sale_attr_value ssav
        ON sav.id = ssav.sale_attr_value_id
        AND ssav.sku_id = #{skuId}
        WHERE sa.product_id = #{spuId};
    </select>

    <resultMap id="getCheckedSaleAttrMap" type="com.lewo.zmall.model.PmsProductSaleAttr" autoMapping="true">
        <result column="sa_id" property="id"/>

        <collection property="spuSaleAttrValueList"
                    ofType="com.lewo.zmall.model.PmsProductSaleAttrValue" autoMapping="true">
            <result column="sav_id" property="id"/>
        </collection>
    </resultMap>
</mapper>
